.header {
    text-align: center;
    padding: 30px;
    background-color: darkblue;
    color: white;
}

.form-group {
    padding: 0 2em;
}

h5 {
    padding: 10px;
    background-color: rgb(223, 217, 217);
    border-bottom:1px solid #000000;

}

.clear {
    padding: 0 2em;
    padding-bottom: 1em;
    display: inline-flex;
    
}